<div>
<form [formGroup]="form">
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="pswFC" name= "password" 
            placeholder="Enter Password">
    </mat-form-field>

    <div>
        <p>Password Policiy:</p>
        <ol>
            <li>Atleat 8 characters long</li>
            <li>Must contain 1 upper-case letter</li>
            <li>Must contain 1 lower-case letter</li>
            <li>Must contain 1 digit</li>
            <li>Must contain 1 special character</li>
        </ol>
    </div>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="cnfPswFC" name= "cnfPsw" 
             placeholder="Confirm Password">
    </mat-form-field>
</form>
</div>