<div class="bootstrap-wrapper">

    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
  
          <mat-card style="margin-bottom: 5%;margin-top: 5%;">
            <form [formGroup]="forgotPswForm">
              
              <mat-card-title class="text-center">Forgot Password</mat-card-title>
              <mat-form-field appearance="outline" class="login-full-width">
                <mat-label>Username</mat-label>
                <input type="email" matInput name="username" formControlName="usernameFC"
                        placeholder="abc@gmail.com" id="username" (keyup)="onKeyPress($event)" >
              </mat-form-field><br>

              <div class="text-center mb-20">
                <button mat-raised-button color="primary" [disabled]="btnDisabled" (click)="sendCode()">Send</button>
              </div>

              <mat-form-field appearance="outline" class="login-full-width">
                <mat-label>Code</mat-label>
                <input type="number" matInput name="code"
                        placeholder="123456" formControlName="codeFC">
              </mat-form-field><br>

              <app-password formGroupName="password"></app-password>

              <mat-card-actions class="text-center">
                <button mat-raised-button color="primary" (click)="onSubmit()" 
                    [disabled]="!forgotPswForm.valid">Submit</button>
                <button routerLink="/login" mat-button>
                      Back
                </button>
              </mat-card-actions>
            </form>
          </mat-card>
        </div>
      </div>
    </div>

</div>


