<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">

                <mat-card class="card-margin">

                <mat-card-title class="text-center">Signup</mat-card-title>
                
                <form [formGroup]="signupForm" (ngSubmit)="signup()">
                    <!--Basic Info-->
                    <app-basic-info formGroupName="basicInfo"></app-basic-info>

                    <!-- Area -->
                    <app-area-info formGroupName="areaInfo"></app-area-info>
                    
                    <!--Password-->
                    <app-password formGroupName="password"></app-password>
                    
                    <!--div class="row" class="bottom-margin" class="text-center"-->
                    <mat-card-actions class="text-center">
                        <button type="submit" mat-button mat-raised-button 
                             color="primary" [disabled]="!signupForm.valid">Signup</button>
                        <button type="reset" mat-raised-button mat-button color="warn" class="ml-20">Clear</button>
                        <button routerLink="/" mat-button>Back</button>
                    </mat-card-actions>
                </form>
                </mat-card>
            </div>
        </div>
    </div>
<div>
