<mat-card style="height: 100vh;">
    <mat-action-list>
        <button mat-list-item routerLink="/admin">
            <mat-icon mat-list-icon>home</mat-icon>Home
        </button>

        <button mat-list-item routerLink="/admin/hospitals">
            <mat-icon mat-list-icon>add_home_work</mat-icon>Hospitals
        </button>

        <button mat-list-item routerLink="/admin/labs">
            <mat-icon mat-list-icon>biotech</mat-icon>Labs
        </button>

        <button mat-list-item routerLink="/admin/hospital-admins">
            <img style="height: 25px;" src="/assets/icons/admin.png" alt="admins">Hospital-Admins
        </button>

        <button mat-list-item routerLink="/admin/doctors">
            <img style="height: 25px;" src="/assets/icons/male_doc.png" alt="doctors">Doctors
        </button>

        <button mat-list-item routerLink="/admin/patients">
            <mat-icon mat-list-icon>people</mat-icon>Patients
        </button>

        <button mat-list-item routerLink="/admin/products">
            <mat-icon mat-list-icon>vaccines</mat-icon>Products
        </button>
    </mat-action-list>
</mat-card>