<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">

                <mat-card class="pd-card text-center">
                    <mat-card-title>Hospital</mat-card-title> 
                    <mat-card-actions>
                        <button mat-mini-fab color="primary" (click)="addHospital()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>    
           
                <mat-card class="pd-card text-center">
                    <mat-card-title>Lab</mat-card-title>
                    <mat-card-actions>
                        <button mat-mini-fab color="primary" (click)="addLab()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            
                <mat-card class="pd-card text-center">
                    <mat-card-title>Products</mat-card-title>
                    <mat-card-actions>
                        <button mat-mini-fab color="primary" (click)="addProduct()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>

                <mat-card class="pd-card text-center" style="margin-bottom: 5%;">
                    <mat-card-title>Hospital-Admins</mat-card-title> 
                    <mat-card-actions>
                        <button mat-mini-fab color="primary" (click)="addHospitalAdmin()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>

            </div>
            </div>
            </div>
    </div>
</div>