<div class="bootstrap-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-5 offset-md-2">
        <mat-card class="card-width">
                  <mat-card-title>Book-Appointment</mat-card-title>
                    <form [formGroup]="aptForm">
                        
                        <app-search-hospital formGroupName="searchHospitalInfo"></app-search-hospital>
                        
                        <mat-form-field appearance="fill" class="full-width">
                              <input formControlName="dateFC" matInput [matDatepicker]="dp3"  
                              placeholder="Select Date" [min]="today">
                              <mat-hint>MM/DD/YYYY</mat-hint>
                              <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                              <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                        </mat-form-field>
                        
                        <br>
                        <div class="text-center">
                            <button mat-button color="primary" (click)="findAppointments()">
                              Find Appointments</button>
                        </div>

                        <br>
                        <mat-form-field appearance="fill" class="full-width">
                          <mat-label>Time</mat-label>
                          <mat-select formControlName="timeFC" name="time">
                            <mat-option *ngFor="let res of aptRes" 
                              [value]="res.time">{{res.time}}-------------{{res.aptAvl}}</mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-card-actions class="text-center mt-20">
                            <button type="submit" [disabled]="!aptForm.valid" mat-raised-button color="primary"
                            (click)="onSubmit()">Book</button>

                            <button mat-raised-button color="primary" class="ml-40"
                                routerLink="/patient">Back</button>
                        </mat-card-actions>
                </form>
        </mat-card>
      </div>
    </div>
    </div>
</div>  