<mat-card style="height: 100vh;">
    <mat-action-list>
        <button mat-list-item routerLink="/hospital-admin">
            <mat-icon mat-list-icon>home</mat-icon>Home
        </button>

        <button mat-list-item routerLink="/hospital-admin/doctors">
            <img style="height: 25px;" src="/assets/icons/male_doc.png" alt="doctors">
            Doctors
        </button>

        <button mat-list-item routerLink="/hospital-admin/appointments">
            <mat-icon mat-list-icon>calendar_month</mat-icon>Appointments
        </button>

        <button mat-list-item routerLink="/hospital-admin/tests">
            <mat-icon mat-list-icon>medical_services</mat-icon>Test Requests
        </button>

        <button mat-list-item routerLink="/hospital-admin/products">
            <mat-icon mat-list-icon>vaccines</mat-icon>Products
        </button>

        <button mat-list-item routerLink="/hospital-admin/profile">
            <mat-icon mat-list-icon>account_box</mat-icon>Profile
        </button>

    </mat-action-list>
</mat-card>