<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                <mat-card class="pd-card">
                    <mat-card-title class="text-center">Appointments</mat-card-title> 
                    <mat-card-actions class="text-center">
                        <button mat-mini-fab color="primary" (click)="addAppointment()">
                            <mat-icon>add</mat-icon>    
                        </button>
                    </mat-card-actions>
                </mat-card>


                <mat-card class="pd-card">
                    <mat-card-title class="text-center">Products</mat-card-title>
                    <mat-card-actions class="text-center">
                        <button mat-mini-fab color="primary" (click)="linkProduct()">
                            <mat-icon>link</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>    


                <mat-card class="pd-card">
                    <mat-card-title class="text-center">Doctors</mat-card-title>
                    <mat-card-actions class="text-center">
                        <button mat-mini-fab color="primary" (click)="addDoctor()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>    
            </div>
            </div>
        </div>
    </div>
</div>